/A5q11_numPattern.class
/A6q5_numPattern.class
/Question1.class
/Question2.class
/Question3.class
/Question4.class
/Question5.class
/Question6.class
/ex_NumPattern.class
/ex_SignPattern.class
/wierdNumPattern.class
