/Animal.class
/AppleDevice.class
/AppleStore.class
/AppleWatch.class
/Bird.class
/ChildA.class
/ChildB.class
/Circle.class
/Dog.class
/IPad.class
/InstanceOf.class
/Mac.class
/MyInterface.class
/Parent.class
/Shape.class
/ShapesArray.class
/Square.class
/TesAnimal.class
/TestMethod.class
/TestShape.class
/Triangle.class
