/IfElseIfElse.class
/NestedIfStatement.class
/SmallTasks2.class
/SwitchCaseStatement.class
/task29_BiggerNumber.class
/task30_EvenOddNumber.class
/task31_TriangleAngles.class
/task32_LargestNumber.class
/task33_Grading.class
/task34_AverageGrading.class
/task35_findGreatestNested.class
/task36_Calculator.class
