/AdditionConcat.class
/ArtihmeticOperators.class
/Contribution.class
/Discount.class
/Wages.class
/task13_findSum.class
/task14_convertFahrenheitToCelcius.class
/task15_mileConverter.class
/task16_areaOfCircle.class
/task17_averageNumbers.class
/task8_variablePractice.class
