/IfElseStatement.class
/IfStatements.class
/SmallTasks.class
/task24_EligibleToVote.class
/task25_GreatestNumber.class
/task26_EqualNumbers.class
/task27_GreetingHours.class
/task28_RevenueCalculator.class
