/DoWhileLoop.class
/ForLoopRules.class
/NestedForLoop.class
/NestedForLoop2.class
/WhileLoop.class
/task47_Pattern.class
/task48_Pattern.class
/task49_pattern.class
/task50_Pattern.class
/task51_Clock.class
/task52_whileLoop.class
/task53_sumOfEvenNumbers.class
