/String_CharAt.class
/String_Concat.class
/String_Contains.class
/String_Length.class
/task75_TotalCharacters.class
/task76_PrintingEachCharacter.class
/task77_EmoiProgram.class
/task78_CountHowMany.class
/task79_PrintingWovels.class
