/BadArray.class
/CheckedVSUncheckeedException.class
/MultiCatch.class
/Nullpointer.class
/ORCatchBlock.class
/Runtimeerror.class
/ThrowAndThrows.class
/TryCatch.class
/TryCatchFinally.class
/TyCatch2.class
